@import './index.module.scss';

.hero {
  flex: 1 1 auto;
}
.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.icon {
  width: 80px + $gap;
  height: 80px + $gap;
  justify-content: start;
}
