@import './common.scss';

.hero {
  background: center / cover no-repeat
    url('../media/ball-black-bubble-35016.jpg');
}

.section {
  em {
    font-variant: inherit;
    font-style: italic;
  }
}
