@import './common.scss';

.section {
  input,
  select,
  textarea {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border;
    &:focus {
      box-shadow: none;
    }
  }
}

.tweet {
  background-color: #1b95e0;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
  }
}
