@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';

.hero {
  background: center / cover no-repeat url('../media/hero-bg.png');
}

.title {
  font-weight: normal;
}

.section {
  padding: 3rem 1.5rem 1rem;
  &:last-child {
    padding-bottom: 6rem;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
  h3 {
    @include tablet {
      padding-top: 1rem;
      border-top: 2px solid $info;
    }
    @include mobile {
      color: $info;
    }
  }
  em {
    font-variant: small-caps;
    font-style: normal;
  }
}
