@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';

.socials,
.links {
  @include tablet {
    text-align: right;
  }
}

.info {
  font-size: 0.92rem;
}

.legal {
  span {
    margin: 0 12px;
  }
  span:first-of-type {
    margin-left: 0;
  }
  span:last-of-type {
    margin-right: 0;
  }
}

.smallcaps {
  font-variant: small-caps;
}
