@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';

.hero {
  position: relative;
}

.imageOuter,
.image {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
